body{font-family: 'PT Sans', sans-serif;background-color:#404041;color:#f9f9ff}
td{padding:4px;}
a{color:#009ddc;font-weight:bold;}
table{margin:auto;border-spacing:0px;}
.table-striped{border:2px solid #59595b;}
.head{background-color:#59595b!important;}
tr:nth-of-type(2n+1) {background-color:#404041;}
tr:nth-of-type(2n) {background-color:#4d4d4e;}
.left{float:left;}
.right{float:right;}
.center{text-align:center;}
.bold{font-weight:bold;}
.italic{font-style:italic;}
.red-text{color:rgb(255, 129, 129);}
hr{border:2px solid #59595b;}